@{
    ViewBag.Title = "Home Page";
}

<div id="data"><h1>Latest 10 RabbitMq Monitoring Stats: </h1></div>


<script type="text/javascript">

    const getHistoryurl = 'http://localhost:60634/api/GetHistoryMessageCount/TestExchange/20180101T0000Z/20200101T0000Z';
    const getLiveMessageCounturl = 'http://localhost:60634/api/GetLiveMessageCount/TestExchange';
    const div = document.getElementById('data');
    function createNode(element) {
        return document.createElement(element); // Create the type of element you pass in the parameters
    }
    function append(parent, el) {
        return parent.appendChild(el); // Append the second parameter(element) to the first one
    }

    fetch(getHistoryurl)
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            let createArray = [];
            let givenData = data.results;
            createArray.push(givenData);
            const newData = createArray.map((array) => {
                return array.map((item) => {
                    let li = createNode('li'),
                        span = createNode('span');
                    span.innerHTML = `Message count: ${item.MessageCount} Time: ${item.CreatedAt}`;
                    append(li, span);
                    append(div, li);
                });

            });

        })

    fetch(getLiveMessageCounturl)
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            debugger;
            let createArray = [];
            let givenData = data.results;
            let li = createNode('li'),
                span = createNode('span');
            span.innerHTML = `Message count: ${givenData.MessageCount} Time: ${givenData.CreatedAt}`;
            append(li, span);
            append(div, li);
        })

</script>

