@{
    ViewBag.Title = "Home Page";
}
<div id="current"
     ><h1>Current RabbitMq Count </h1>
    </div>

<div id="history">
    <h1>Last 10 RabbitMq Monitoring Stats </h1>
</div>



</div>

<script type="text/javascript">

    const getHistoryurl = 'http://localhost:60634/api/GetHistoryMessageCount/TestExchange/20180101T0000Z/20200101T0000Z';
    const getLiveMessageCounturl = 'http://localhost:60634/api/GetLiveMessageCount/TestExchange';

    const divHistory = document.getElementById('history');
    const divCurrent = document.getElementById('current');

    function createNode(element) {
        return document.createElement(element);

    }
    function append(parent, el) {
        return parent.appendChild(el);
    }

    fetch(getHistoryurl)
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            let createArray = [];
            let givenData = data.results;
            createArray.push(givenData);
            const newData = createArray.map((array) => {
                return array.map((item) => {
                    let messageBox = createNode('div'),
                        message = createNode('span');
                    messageBox.className = 'message-box';
                    message.className = 'message';
                    const dateToString = new Date(`${item.CreatedAt}`);
                    messageBox.innerHTML = `Posted On: ${dateToString.toString()}`;
                    message.innerHTML = `Messages: ${item.MessageCount} `;
                    append(messageBox, message);
                    append(divHistory, messageBox);
                });
            });

        })

    fetch(getLiveMessageCounturl)
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            let givenData = data.results;
            let messageBox = createNode('div'),
                message = createNode('span');
            messageBox.className = 'message-box';
            message.className = 'message';
            const dateToString = new Date(`${givenData.CreatedAt}`);
            messageBox.innerHTML = `Posted On: ${dateToString.toString()}`;
            message.innerHTML = `Messages: ${givenData.MessageCount}`;
          
            
            append(messageBox, message);
            append(divCurrent, messageBox);
        })

</script>

