<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PollingIntervalInMiliSeconds" value="60000"/>

    <add key="RabbitMqUserName" value="guest"/>
    <add key="RabbitMqUserPassword" value="guest"/>
    <add key="RabbitMqVirtualHost" value="/"/>
    <add key="RabbitMqHost" value="localhost"/>

    <add key="RabbitMqExchange" value="TestExchange"/>
    <add key="RabbitMqQueue" value="TestExchange"/>
  </appSettings>
  <connectionStrings>
    <add name="MonitoringDb" connectionString="Data Source=PRAVEEN\SQLEXPRESS;Initial Catalog=Carsales;Integrated Security=True;uid=carsales;password=carsales;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>