@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id=" =demo">
    <h1>RabbitMq Live Count and Historical Data</h1>
    <p><a href="http://localhost:60634/api/GetHistoryMessageCount/TestExchange/20180101T0000Z/20200101T0000Z" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    
</div>

@section scripts{
    <script type="text/javascript">
        var url = 'http://localhost:60634/api/GetHistoryMessageCount/TestExchange/20180101T0000Z/20200101T0000Z';
        var obj, dbParam,txt="";
        obj = { table: sel, limit: 20 };
        fetch(url)
            .then(function (response) {
                debugger;
                txt += "<table border='1'>"
                for (x in myObj) {
                    txt += "<tr><td>" + response[x].name + "</td></tr>";
                }
                txt += "</table>"
                document.getElementById("demo").innerHTML = txt;
                //return response.json();
            })
            .then(function (myJson) {
                console.log(JSON.stringify(myJson));
            });        
    </script>
}