@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --carsales-blue: #004f85;
    --base-padding: 1rem;
    --base-margin: 1rem;
    --gray: #ccc;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0 !important;
    padding:0;
}

h1{
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

.body-content{
    padding: 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.message-box{
    border: 2px solid var(--gray);
    border-radius:3px;
    padding: var(--base-padding);
    margin: var(--base-margin);
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}